#image{
    border: 2px solid black;
    border-radius: 50%;
    height: 270px;
}

#leftSide{
    background-color: darkslategray;
    padding: 20px;
}

#rightSide{
    background-color: darkgrey;
    padding: 10px;
}

.heading{
    color: darkslategray;
}

.inhead{
    color: darkcyan;
}

.paragraph{
    border-left: 1px solid black;
    padding: 5px;
}

#mainBox{
    display: flex;
    margin: 50px auto;
    width: 50%;
    border: 2px solid black;
}
.inDiv1{
    display: flex;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.leftHead{
    color: ghostwhite;
}