#d1, #d2{
    width: 200px;
    height: 40px;
    border: 5px solid rgb(0, 0, 0);
    padding: 50px;
    margin-top: 50px;
}

#d3{

    width: 200px;
    height: 200px;
    border: 2px solid #cc0e0e;
    margin: 20px 40px 60px 80px;
    padding: 0 0 0 10px;
    box-shadow: 5px 5px 10px 10px red ;
}

/* span{
    height: 20px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 20px;
} */