#d1, #d2{
    border: 3px solid brown;
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 50px 0px 10px 50px;
    padding: 10px;
    color: brown;
    background-color: aquamarine;
}
#s1{
    border: 1px solid black;
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 50px 50px;
    padding: 10px;

}

/* flex property */

#mainDiv{
    margin: 20px auto;
    width: 1500px;
    height: 900px;
    border: 5px solid brown;
    background-color: aqua;
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.subDiv{
    /* padding: 20px; */
    width: 100px;
    height: 70px;
    border: 2px solid black;
    background-color: darkcyan;

}
