#mainBox{
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
    margin: 10px;
    width: 50%;
    padding: 10px;
}

#firstBox{
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}

#secBox{
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}


