#header{
    margin-bottom: 5px;
    padding: 0;
    background-color: brown;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

#mainDiv{
    display: flex;
    justify-content:space-between;
}

.div3{
    padding: 10px;
}

#name{
    text-align: center;
    border-bottom: 2px solid black;
    color: brown;
}


#div2{
    margin-right: 20px;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 10px;
    margin-top: 5px;
    padding: 3px;
    width: 50%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

img{
    border: 2px solid gray;
    border-radius: 50%;
    margin: 20px 50px 20px 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: 5px 5px 5px 5px gray;
}
img:hover{
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition-duration: 5s;
}