#header{
    margin: 0px;
    padding: 0;
    background-color: rgb(101, 4, 4);
    color: rgb(74, 73, 72);
    display: flex;
    justify-content: center;
}

.tabs:hover{
    color:darkblue;
    cursor: pointer;
    background-color:chocolate;
    border-radius: 10px;
    padding: 3px;
}

.tabs{
    color: brown;
}

#logo{
    width: 100px;
    border-radius: 50%;
}
