#mainDiv{
    
    width: 1000px;
    height: 800px;
    border: 5px solid brown;
    background-color: aqua;   
    display: grid;
    grid-template-columns: 100px 150px 100px 200px 100px;
    justify-items: center;
    align-items: center;
}

.subDiv{
    /* padding: 20px; */
    width: 70px;
    height: 70px;
    border: 2px solid black;
    background-color: darkcyan;
}
